body {
    background-color: navy;
}

#ul-nb {
  list-style: none;
  margin: 2px;
  padding: 3px;
}

#ul-nb li {
  float: left;
  padding: 10px;
  background: orange;
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
}

#ul-nb li:hover {
  background: red;
  opacity: 0.8;
  color: white;
}
